Django==3.2.*  # Latest LTS version
django-environ
django-extensions
requests
psycopg2
silica-django
django-debug-toolbar
django-compressor
django-sass-processor
libsass
django-crispy-forms
crispy-bootstrap5
################################

# Convenience
ipython
werkzeug
pip-tools
coverage

# Security
cryptography==3.3.2  # Lock to 3.3.2 if running into "No module named 'setuptools_rust'" error
